* {
    margin: 0;
    padding: 0;
}

/* Color Theme Swatches in Hex */
$Graphic-Design-1-hex: #F24405;
$Graphic-Design-2-hex: #F23005;
$Graphic-Design-3-hex: #8C0E03;
$Graphic-Design-4-hex: #590902;
$Graphic-Design-5-hex: #260101;
/* Color Theme Swatches in Hex */
$Avanta-1-hex: #D9D8D7;
$Avanta-2-hex: #F2BBA7;
$Avanta-3-hex: #F23005;
$Avanta-4-hex: #D92B04;
$Avanta-5-hex: #D9765F;


span {
    background: linear-gradient($Avanta-3-hex, $Graphic-Design-3-hex) !important;
    height: 16px !important;
    width: 16px !important;
    opacity: 0.8 !important;
}

.fp-tooltip {
    color: $Graphic-Design-2-hex !important;
    font-size: 14px !important;
    opacity: 0.8 !important;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    text-align: center;
}


img {
    height: 150px;
    width: 150px;
    border-radius: 25%;
    opacity: 0.7;
    transition: ease-out 0.6s;
}

img:hover {
    height: 180px;
    width: 180px;
    border-radius: 18%;
    opacity: 1;
    box-shadow: 1px 1px 0px rgb(102, 100, 100),
        2px 2px 0px rgb(102, 100, 100),
        3px 3px 0px rgb(102, 100, 100),
        4px 4px 0px rgb(102, 100, 100),
        6px 6px 0px rgb(102, 100, 100);
    transition: ease-in-out 0.5s;
}



.fa {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    color: $Avanta-3-hex;
    text-decoration: none;

}

.s1 {
    background: url('./img/img3.jpg');
    background-size: cover;

    h1 {
        text-align: right;
        margin-right: 6em;
    }
}

.s2 {

    h1 {
        color: black;
    }

    p {
        text-align: center;
        font-size: 2em;
        padding: 20px;
    }

    h4 {
        text-align: center;
        font-family: 'Roboto Mono', monospace;
        font-size: 30px;
    }  h5 {
        text-align: center;
        padding: 35px;
        font-family: 'Roboto Mono', monospace;
        font-size: 25px;
    }
}

.project {
    display: flex;
    justify-content: space-evenly;

}

.fa-code:hover {
    transition: 0.4s;
    font-size: 2.5em;
    cursor: pointer;
}

.s3 {
    background: url('./img/img1.jpg');
    background-size: cover;

    h1 {
        text-align: left;
        margin-left: 4em;
        color: whitesmoke;
    }



    p {
        color: $Graphic-Design-1-hex !important;
        font-size: 18px;
        text-align: center;
        margin-right: 2em;
        opacity: 0.1;
        transition: ease-out 0.2s;
    }

    p:hover {
        cursor: none;
        opacity: 1;
        font-size: 23px;
        font-weight: bold;
        text-align: center;
        transition: ease-in 0.4s;
    }
  
}

.s4 {
    h1 {
        padding: 25px;
        color: black !important;
    }

    .fa-wordpress {
        color: $Avanta-4-hex !important;
        margin: 0px;
        padding: 20px;
        font-size: 2em;
        transition: 0.6s;
    }

    .fa:hover {
        transition: 0.4s;
        font-size: 2.5em;
        cursor: pointer;
    }

    i.fa-github-square {
        margin: 0px;
        padding: 20px;
        font-size: 2em;
        color: $Graphic-Design-2-hex !important;
        transition: 0.6s;
    }

    i.fa-linkedin-square {
        margin: 0px;
        padding: 20px;
        font-size: 2em;
        color: $Graphic-Design-2-hex !important;
        transition: 0.6s;
    }

    .fa:hover {
        transition: 0.4s;
        font-size: 2.5em;
        cursor: pointer;

    }

    .email {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 2em;
        font-weight: bold;
    }
}